.imagem1{
    padding-top: 70px;
    padding-left: 360px;
}
.imagem2{
    display: flexbox;
}

.formulario {
    padding-left: 100px;
    padding-top: 200px;
}
.formulario h1{
    padding-bottom: 100px;
}
.formulario input{
    padding: 12px;
    border-radius: 60px;
    width: 360px;
}

